
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap');
body{

font-family: 'Shadows Into Light', cursive;
  background-image:url("../images/s.gif");
  text-align: center;
}
h1{
  color:#b969ff;
  font-size: 60pt;
font-family: 'Shadows Into Light', cursive;
  text-align: center;
}
h2{
  color:#ff69af;
  font-size: 20pt;
font-family: 'Shadows Into Light', cursive;
  text-align: center;
}
a{color:#ff69af;
  font-size: 60pt;
font-family: 'Shadows Into Light', cursive;}
nav a {
  margin: 40px;
  padding: 40px;
}
a:hover{
  color:white;
text-decoration: none;
}
